<div class="container mt-3">
  <div class="row mt-4">
    <div class="col-5">
      <table class ="table-sm table-borderless">
        <tbody>
          <%= form_with(url: events_path, method: :get, local: true) do |f| %>
            <tr>
              <td><%= f.label :event_title, "イベント名" %></td>
              <td><%= f.text_field :event_title, value: params[:event_title], class:"form-control col-md-7" %></td>
            </tr>
            <tr>
              <td><%= f.label :date, "開催日" %></td>
              <td><%= f.date_select :date_from, start_year: Time.now.year, end_year: Time.now.year - 2, selected: date_select_params_to_date(:date_from) %> ~
                  <%= f.date_select :date_to, start_year: Time.now.year, end_year: Time.now.year - 2, selected: date_select_params_to_date(:date_to) %>
              </td>
            </tr>
            <tr>
              <td><%= f.label :area, "開催エリア" %></td>
              <td><%= f.select :area, Event.event_areas.map{|k, v| [k, v]}, { selected: params[:area], include_blank: "---" } %></td>
            </tr>
            <tr>
              <td><%= f.label :search_score,"スコアレベル" %></td>
              <td><%= f.select :search_score, Event.search_scores_i18n.invert.map{|k, v| [k, v]}, { selected: params[:search_score], include_blank: "---" } %></td>
            </tr>
            <tr>
              <td><%= f.label :entry_limit, "募集人数" %></td>
              <td><%= f.select :entry_limit, options_for_select((1..16).to_a, params[:entry_limit]) ,{ include_blank: "---" } %>人</td>
            </tr>
            <tr>
              <td colspan='2' align="center"><%= f.submit "検索する", class:"btn btn-primary" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-7">
      <h4><i class="fas fa-search"></i> 検索結果（全<%= @events.count %>件）</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>開催日</th>
              <th>イベント名</th>
              <th>開催エリア</th>
              <th>参加状況</th>
              <th>募集締切日</th>
            </tr>
          </thead>
            <tbody>
              <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.event_date, event_path(event.id), class:"text-success" %></td>
                <td><%= event.event_title %></td>
                <td><%= event.event_area %></td>
                <td><%= event.entry_limit %>人</td>
                <td>あと<%= event.date %>日</td>
              </tr>
              <% end %>
           </tbody>
        </table>
    </div>
  </div>
</div>