<div class="container mt-3">
  <div class="row mt-5">
    <form class="search_box form-horizontal col-md-4">
      <%= form_with url: events_path, method: :get, local: true do |f| %>
        <div class="form-group mt-4">
          <%= f.label :event_title, "イベント名 : " %></br>
          <%= f.text_field :event_title, value: params[:event_title], class: "form-control" %>
          </div>
        <div class="form-group">
          <%= f.label :date, "開催日 : " %></br>
          <%= f.date_select :date_from, { default: date_select_params_to_date(:date_from) } %> ~
          <%= f.date_select :date_to, { default: date_select_params_to_date(:date_to) }%>
        </div>
        <div class="form-group">
          <%= f.label :area, "開催エリア : " %></br>
          <%= f.select :area, Event.event_areas.map{|k, v| [k, v]}, { selected: params[:area], include_blank: "---" }, class: "form-control col-md-4" %>
        </div>
        <div class="form-group">
          <%= f.label :search_score,"スコアレベル : " %></br>
          <%= f.select :search_score, Event.search_scores_i18n.invert.map{|k, v| [k, v]}, { selected: params[:search_score], include_blank: "---" }, class: "form-control col-md-4" %>
        </div>
        <div class="form-group">
          <%= f.label :entry_limit, "募集人数 : " %></br>
          <div class="form-inline">
          <%= f.select :entry_limit, options_for_select((2..16).to_a, params[:entry_limit]) ,{ include_blank: "---" }, class: "form-control col-md-5" %>&ensp;人
          </div>
        </div>
        <div class="form-group text-center">
        <%= f.submit "検索", class: "btn btn-success" %>
        </div>
       <% end %>
    </form>
    <div class="col ml-3">
      <h4><i class="fas fa-search"></i> 検索結果（全<%= @events.count %>件）</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>開催日</th>
              <th width="200">イベント名</th>
              <th>開催エリア</th>
              <th width="100">参加状況</th>
              <th>募集締切日</th>
            </tr>
          </thead>
            <tbody>
              <% @events.each do |event| %>
              <tr>
                <td><%= event.event_date %></td>
                <td><%= link_to event.event_title, event_path(event.id), class: "text-success" %></td>
                <td><%= event.event_area %></td>
                <td><%= event.applies.where(apply_status: :approved).count %> / <%= event.entry_limit %>人</td>
                <td><% if event.deadline_date < Date.today || event.event_status == false %>
                    <p class="text-danger font-weight-bold"> 募集終了 </p>
                  <% else %>
                    あと<%= event.date %>日
                  <% end %>
                </td>
              </tr>
              <% end %>
           </tbody>
        </table>
    </div>
  </div>
</div>