<div class="container mt-3">
  <h4 class="title mb-4 text-center">イベント詳細</h4>
  <div class="row mt-4">
    <div class="col">
        <table class="table col">
          <tbody>
            <tr>
              <td>開催日</td>
              <td><%= @event.event_date %></td>
            </tr>
            <tr>
              <td>イベント名</td>
              <td><%= @event.event_title %></td>
            </tr>
            <tr>
              <td>イベント詳細</td>
              <td><%= @event.event_introduction %></td>
            </tr>
            <tr>
              <td>開催エリア</td>
              <td><%= @event.event_area %></td>
            </tr>
            <tr>
              <td>イベント参加者</td>
              <td><% @event_users.each do |event_user| %>
                  <%= link_to user_path(event_user.id), class: "text-success" do %><%= event_user.nickname %><% end %>
                  <% end %>
              </td>
            </tr>
            <tr>
              <td>参加状況</td>
              <td><%= @event.applies.where(apply_status: :approved).count %> / <%= @event.entry_limit %>人</td>
            </tr>
            <tr>
              <td>スコアレベル</td>
              <td><%= @event.search_score_i18n %></td>
            </tr>
            <tr>
              <td>募集締切日</td>
              <td>あと<%= @event.date %>日 (<%= @event.deadline_date %>)</td>
            </tr>
            <tr>
              <td>主催者</td>
              <td><%= link_to @owner.nickname, user_path(@owner.id), class: "text-success" %></td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <% if @event.owner_id == current_user.id %>
                  <%= link_to '編集', edit_event_path(@event), class: "btn btn-sm btn-success" %>
                <% else %>
                  <% if @event.deadline_date < Date.today || @event.event_status == false %>
                    <!--イベント中にあるdeadline_dateが今日以降だったら-->
                    <!--もしくはイベントの中にあるイベントステータスがfalseだったら--->
                    <p class="text-danger font-weight-bold">募集終了</p>
                  <% elsif  @event.applies.find_by(user_id: current_user.id)&.applying? %>
                    <!--申請しようとしているユーザーがログインユーザーで、申請ステータスが申請中だったら--->
                    <%= link_to '申請中', event_join_path(@event), class: "btn btn-primary" %>
                  <% elsif  @event.applies.find_by(user_id: current_user.id)&.rejected? %>
                    <!--申請しようとしているユーザーがログインユーザーで、申請ステータスが却下されたら--->
                    <p class="p-2"><strong>
                      <font color="red"><i class="fas fa-exclamation-circle"></i>
                      このイベントは却下されたため、申請できません
                      </font></strong>
                    </p>
                  <% elsif  @event.applies.find_by(user_id: current_user.id)&.approved? %>
                    <!--申請しようとしているユーザーがログインユーザーで、申請ステータスが承認されたら--->
                  <%= link_to 'イベントを辞退', event_path(@event), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "イベント主催者には報告積みですか？"}%>
                  <% else %>
                    <%= link_to '申請', event_join_path(@event), class: "btn btn-sm btn-success" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col ml-4">
      <% if @event.applies.find_by(user_id: current_user.id)&.approved? %>
        <% @event_comments.each do |event_comment| %>
          <div class="comment">
            <p class="text-right"><font size="2"><%= event_comment.comment %>&emsp;</font>
              <span><font size="1">(<i class="fas fa-user"></i>
                <%= event_comment.user.nickname %> <%= event_comment.created_at.to_s(:datetime_jp) %>)</font></span>
            </p>
          </div>
        <% end %>
        <%= paginate @event_comments %>
        <div>
          <%= form_with model: [@event, @event_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに入力", class:"form-control" %></br>
            <%= f.submit "送信", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center mt-5">
          <h5 class="text-dark" >
          <%= link_to rooms_path(owner_id: @owner.id), method: :post, class: "text-dark" do %>
          <p>イベント主催者に問い合わせる</p>
          <i class="fas fa-user-alt"></i><i class="fas fa-comment-dots"></i>
          <% end %>
          </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>