<div class="jumbotron jumbotron-extend top-bg">
  <div class="row p-5">
    <div class="col-md-12">
      <div class="container col-6 p-4 text-center" style="background-color:rgba(255,255,255,0.7);">
        <h1 style="color:#000000;"><strong>Let's find your "roundies" !!</strong></h1><br />
        <p><strong>
          20~30代専用のゴルフマッチングサイトです。</br>
          あなたの希望にピッタリなラウンドをしてみませんか？</br>
        </strong></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h5 class="my_name col-3">
    <strong><font color="red"><i class="fas fa-flag"></i></font>&emsp;新着イベント</strong>
  </h5>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>開催日</th>
          <th>イベント名</th>
          <th>開催エリア</th>
          <th>参加状況</th>
          <th>募集締切日</th>
        </tr>
      </thead>
      <% @events.first(5).each do |event| %>
      <tbody>
        <tr>
          <td><%= event.event_date %></td>
          <td width="500"><%= link_to event_path(event), class:"text-success" do %><%= event.event_title %><% end %></td>
          <td><%= event.event_area %></td>
          <td><%= event.applies.where(apply_status: :approved).count %> / <%= event.entry_limit %>人</td>
          <td><% if event.deadline_date < Date.today || event.event_status == false %>
                <p class="text-danger font-weight-bold"> 募集終了 </p>
              <% else %>
                あと<%= event.date %>日
              <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="text-center mt-3">
     <strong><%= link_to "もっと見る", events_path, class:"text-success" %></strong>
    </div>
</div>


