<div class="container mt-4">
  <div class="mx-auto" style="width: 500px;">
    <h3 class="title mt-2 mb-2 p-2 text-center">申請依頼</h3>
  </div>
    <%= paginate @applies %>
    <% if @applies.present? %>
    <div class="text-align: center">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>イベント名</th>
            <th>申請者</th>
            <th></th>
          </tr>
        </thead>
          <tbody>
             <% @applies.each do |apply| %>
              <tr>
                <td><%= apply.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td><%= link_to event_path(apply.event_id), class:"text-success" do %><%= apply.event.event_title %><% end %></td>
                <td><%= link_to user_path(apply.user_id), class:"text-success" do %><%= apply.user.nickname %><% end %></td>
                <td class="form-inline"><%= form_with model: apply, url: update_apply_path(current_user.id, apply.event_id, apply.id), method: :patch, local: true do |f| %>
                    <%=f.select :apply_status, options_for_select(Apply.apply_statuses_i18n.invert, selected: apply.apply_status), {}, class:"form-control" %>
                    <%= f.submit "登録", class:"btn btn-primary" %>
                    <% end %>
                </td>
              </tr>
             <% end %>
          </tbody>
      </table>
      <% else %>
      <p class="text-center">申請依頼はありません</p>
    <% end %>
    </div>
</div>
