  <%= image_tag user.get_image, size:'200x200' %></br>
  <p><strong><%= user.user_name %></strong>&nbsp;
     <%= render "public/relationships/relationship_btn", user: user %>&nbsp;
     <%= render "public/rooms/room", isRoom: isRoom, roomId: roomId, room: room, entry: entry, user: user %></p>
  <p><%= link_to user.followings.count, user_followings_path(user) %>フォロー | <%= link_to user.followers.count, user_followers_path(user) %>フォロワー</p>
  <p><%= user.user_area %> / <%= user.age%>歳 / 性別：<%= user.gender_i18n %></p>
  <p>スコアレベル : <%= user.user_score_i18n %></p>
  <p>~ 自己紹介 ~</br><span style="border-bottom: solid 1px #d3d3d3;"><%= user.self_introduction %></span></p>
  <% if current_user != user%>
    <p></p>
  <% else %>
    <p><%= link_to rooms_path, class:"text-dark" do %><i class="fas fa-envelope"></i>チャット履歴<% end %></p>
    <p><%= link_to edit_user_path(user.id), class:"text-dark" do %><i class="fas fa-cog"></i> プロフィール編集<% end %></p>
  <% end %>