<div class="container">
  <h3><%= @user.user_name %>さんのマイページ</h3>
  <div class="row">
    <div class="col-3">
      <%= render 'public/users/show', user: @user%>
      <%= render "public/relationships/relationship_btn", user: @user %>
      <%= render "public/rooms/room", isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry, user: @user %>
    </div>
      <div class="col-8">
        <%= link_to "参加イベント一覧", user_path(@user.id,{type: 'join'}) %> | <%= link_to "主催イベント一覧", user_path(@user.id,{type: 'owner'}) %>
        <%= link_to "イベント新規作成", new_event_path %>
        <%= link_to "イベント申請一覧", index_apply_path(@user.id) %>
        <table class="table">
          <thead>
            <tr>
              <th>開催日</th>
              <th>イベントタイトル</th>
              <th>開催エリア</th>
              <th>参加状況</th>
              <th>締め切り</th>
            </tr>
          </thead>
          <tbody>
            <% if @events %>
            <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.event_date, event_path(event.id) %></td>
              <td><%= event.event_title %></td>
              <td><%= event.event_area %></td>
              <td><%= event.applies.where(apply_status: :approved).count %>/<%= event.entry_limit %>人</td>
              <td>あと<%= event.date %>日</td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
